# shortcuts
llm-reviews/*.sh

# logs
llm-reviews/logs/*

# output dir
reviews
!reviews/.keep

# app
recomendations/static/*
recomendations/app/bin/*
!recomendations/app/bin/.keep
recomendations/app/*.sh

# other files
temp/*.*
