{{define "films.html"}}

{{$allEmotions := .Emotions}}

{{range .Films}}

<hr>

<div class="film">

    <p><a target="_blank" href="{{.WebUrl}}"><h3>{{.NameRu}} | {{.Year}}</h3></a></p>
    <p><a target="_blank" href="https://rutracker.org/forum/tracker.php?nm={{.NameRu}} {{.Year}}">rutracker.org</a></p>

    <div class="tags">
        {{$filmEmotions := index $allEmotions .KinopoiskId}}
        {{range $filmEmotions}}
        <div class="filmTag">{{.}}</div>
        {{end}}
    </div>

</div>

{{else}}

<div>

Ничего не найдено.

</div>

{{end}}

{{end}}