{{define "partials/style.html"}}
<style>
    /* html */
    html {
        scrollbar-gutter: stable;
    }

    body {
        font-family: sans-serif;
        margin: 2em;
    }

    /* nav */
    nav.nav-top {
        margin: 1em;
    }

    .nav-menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    /* tags filter */
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    .tag {
        padding: 0.5em 1em;
        border-radius: 2em;
        background: #e8e8e8;
        cursor: pointer;
    }

    .tag.active {
        background: #b7d7ff;
    }

    .tag:hover {
        background: #b7d7ff;
    }

    .tagsMode {
        padding: 0.5em 1em;
        border-radius: 2em;
        background: #e8e8e8;
        width: fit-content;
    }

    .tagsMode.active {
        background: #b7d7ff;
    }

    /* films container */
    #films {
        margin-top: 2em;
    }

    .film {
        margin: 2em 0;
    }

    .film h3 a {
        color: gray;
    }

    .filmTag {
        padding: 0.5em 1em;
        border-radius: 2em;
        background: #e8e8e8;
        width: fit-content;
    }
</style>
{{end}}